flows4.json
[
    {
        "id": "35fa69839690127d",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04c8c95a9f7c3071",
        "type": "function",
        "z": "35fa69839690127d",
        "name": "",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 140,
        "wires": [
            [
                "4d206561b4d9d937",
                "35ac1f1d0f8e34f3"
            ]
        ]
    },
    {
        "id": "4d206561b4d9d937",
        "type": "ui_chart",
        "z": "35fa69839690127d",
        "name": "",
        "group": "f59de576828e5bb0",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "16d6551f5c3ffd8e",
        "type": "debug",
        "z": "35fa69839690127d",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "f719610748766f29",
        "type": "mqtt in",
        "z": "35fa69839690127d",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/msg",
        "qos": "2",
        "datatype": "auto",
        "broker": "2934986572c5c66e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            [
                "76adf80414a39a50",
                "c69fa10075cf737d"
            ]
        ]
    },
    {
        "id": "76adf80414a39a50",
        "type": "json",
        "z": "35fa69839690127d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 140,
        "wires": [
            [
                "04c8c95a9f7c3071",
                "16d6551f5c3ffd8e"
            ]
        ]
    },
    {
        "id": "27becff07cb0fdbd",
        "type": "inject",
        "z": "35fa69839690127d",
        "name": "{\"id\":\"Hector XD\",\"temp\":30.5}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\":\"Hector XD\",\"temp\":30.5}",
        "payloadType": "str",
        "x": 170,
        "y": 340,
        "wires": [
            [
                "f6d2b4a483b21559"
            ]
        ]
    },
    {
        "id": "f6d2b4a483b21559",
        "type": "mqtt out",
        "z": "35fa69839690127d",
        "name": "",
        "topic": "codigoIoT/G8/mosquitto/msg",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "2934986572c5c66e",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "c69fa10075cf737d",
        "type": "debug",
        "z": "35fa69839690127d",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "35ac1f1d0f8e34f3",
        "type": "debug",
        "z": "35fa69839690127d",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "b284ce5de8886847",
        "type": "ui_spacer",
        "z": "35fa69839690127d",
        "name": "spacer",
        "group": "1a7f6b8e1c14da8a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "7d55d90503fa89c2",
        "type": "ui_spacer",
        "z": "35fa69839690127d",
        "name": "spacer",
        "group": "1a7f6b8e1c14da8a",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "f59de576828e5bb0",
        "type": "ui_group",
        "name": "Grupro grafica",
        "tab": "6f2ecf24807c1a12",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2934986572c5c66e",
        "type": "mqtt-broker",
        "name": "Broker G8",
        "broker": "18.156.8.172",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1a7f6b8e1c14da8a",
        "type": "ui_group",
        "name": "Flow4",
        "tab": "1eab98fd724ca863",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f2ecf24807c1a12",
        "type": "ui_tab",
        "name": "Flow4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1eab98fd724ca863",
        "type": "ui_tab",
        "name": "Tab 3",
        "icon": "dashboard",
        "order": 3
    }
]